* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
  justify-content: space-around;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  background-color: rgb(0, 0, 0);
}
.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.ver-carrito {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 3.5vh;
  cursor: pointer;
}
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url(./img/alex-perez-LlwHorAMpFo-unsplash.jpg);
}
.banner-container {
  text-align: center;
  padding: 15% 0;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 62px;
  font-weight: bold;
}
.banner p {
  font-size: 30px;
  color: antiquewhite;
  opacity: 0.7;
}
.modal-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.413);
  gap: 50PX;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(246, 243, 243, 0.2);
  max-width: 800px;
  margin: auto;
  text-align: center;
  
}
.card > img {
  width: 90%;
  height: 200px;
}

.card .comprar {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 80px;
  font-size: 12px;
  border-radius: 20px;
}
.card .comprar:hover {
  background: grey;
}
.price {
  color: rgb(57, 52, 52);
  font-size: 20px;
}

.shop-contenido > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.shop-contenido > div > img {
  height: 80px;
  width: 80px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}
.shop-contenido {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: aliceblue;
  background-color: rgb(5, 4, 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.shop-contenido::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  width: 100%;
}
.modal-header-title {
  justify-self: start;
}
.modal-header-button {
  cursor: pointer;

}

.delete-product {
  cursor: pointer;
}

.sumar{
  cursor: pointer;
}
.restar{
  cursor:pointer;
}

.cantidad-carrito{
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  position: absolute;
  display: none;
}

